/* @import url... ;   */

*, *:after, *:before{
    margin:0;
    padding:0;
    box-sizing: border-box;  /*recommedned*/
}

/* If experinces with css check custom properties - variables in css*/

/* Units of measurement

px - pixels , will not change , superfixed  , mixed measurement
vh/vm -vieport  height/ width uses % of window height/width 
rem/em / relative to parent font size(em) ,  root font size (rem) 

%- % of parent size
*/

/* Global Styling */

main{
    padding :3 rem 5%; 

max-width:960px;
margin:0 auto;
background-color: rbg (210, 232, 232);


}
nav {
    padding :2 rem 8%;
    background-color:rgb(171,128,91 )

}
img{
    max-width:100%;
}


/* Typography*/
html{
   font-family : 'Lato', sans-serif; 
}


    h1{
color:#fff;
font-weight:900;
font-size :3rem;

    }

    h2{
font-weight:900;
font-size:2.5rem;

    }

nav a{
color: #fff;
font-size :1.5rem;
font-weight:700;
text-transform: uppercase;
text-decoration:none; /* removes underlines ,..*/
}

nav a.cta{
    color:rgb(56, 94, 126);
}
nav ul{
list-style-type:none;
}

/* Header */

.hero{
position:relative;
}
.hero h1 {
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.hero img{

    width :100vw;
}

nav {
    display:flex;
    justify-content :space-between;
    position: relative;
    top:-3px;
}

nav ul{

    display :flex;
    

}

nav ul li{
    margin-right: 10pxl;
}

/* Home page */

.text{

padding : 3 rem 5%;

}
.cards{
    display :flex;
    justify-content : space-between;
}
.card{
display :flex;
background-color: black ;
color : #fff;
max-width :28%;
padding : 3rem;
align-items : centre;

}

.card img{
    max-width: 35%;
    margin-right : 10px;/* neds to be removed if img and  p stacks TODO : @media query */


}

